@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    /* font-family: 'Ubuntu', arial; */
    font-family: 'Kreon', arial;
}

.parallax {
    /* Full height */
    height: 500px;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;

}

.paratitle{
    margin: auto;
    /* position: relative; */
    padding: 20px;
    /* width: 100%; */
    color: white;
    background-color: black;
    text-align: center;
}

.para{
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 17px;
    text-align: center;
    /* margin: 50px; */
}

.condense{
    margin:auto 10vw;
}

.k4{
    /* The image used */
    background-image: url('/images/bigfreezemidjourney.png');
}

ol{
    /* list-style: none; */
    list-style-position: inside;
}
